:javascript
	$(document).ready(function(){
		$("#main_header").html("#{@verse.link}")
		var quizlink = "#{@verse.path}";
		quizlink += "/quiz/new"
		$('#main_header').append("<a href='"+quizlink+"'>+</a>")
	});
	
%title
	Tent of Meeting -
	= @book.name.to_s
	= @chapter.name.to_s + "\:"+@verse.name.to_s
	\- new quiz

#verse_text{:style => "width:50%;"}
	=@verse_text.content	
%p
	=render 'form'