%h1
	=@verse.link
#verse_text{:style => "width:50%;"}
	=@verse_text.content	
%h3
	your notes:
	= link_to("✎+", controller: :notes, action: :new, :verse_id => @verse.id)
%table{:id => "notes"}
	- @notes.each  do |note|
		%tr
			%td
				%b
					= note.name
			%td
				= note.content
			%td
				= link_to "-", "/notes/delete/"+note.id.to_s