%title Tent of Meeting - Strongs Hebrew
%table{align: "left", style:"padding-left:10%;"}
	= paginate @hebrew_words
	- @hebrew_words.each do |w|
		- strong_id = w.strong_id
		- form = w.form
		- short_def = w.short_definition
		%tr
			%td
				=link_to strong_id.to_s, "/hebrew/"+strong_id.to_s
			%td
				=form
			%td
				=short_def