:javascript
	$(document).ready(function(){
		$("#main_header").html("<a href='/'>Holy Bible</a>");
	});
%title
	Tent of Meeting - Bible
#books{:width => "50%", :style => "padding-left:25%;padding-right:25%;"}
	- @books.each do |book|
		=link_to book.name,"/"+book.name.to_s