#books{:align => "left", :style => "padding-left:35%"}
	=link_to "<<<", books_index_path
%h1
	= link_to @book.name.to_s, "/"+@book.name
	
%p
	- @chapters.each do |chapter|
		= link_to chapter.name, "/"+@book.name.to_s+"/"+chapter.name.to_s