%title
	Tent of Meeting - Search
-if @results.length > 0 then
	= paginate @results
	%table{:align => "center", :width => "50%"}
		= render "verses/result.html.haml"

-else
	%p
		no results for - "
		=@query
		"