%title
	Tent of Meeting
	\-
	Strongs
	Hebrew
	=@original_word.strong_id
	\-
	=@original_word.form
	
%h3{align: "center"}
	=@original_word.form
%h4
	=@original_word.short_definition
	
%p
	=@original_word.medium_definition
%p
	=@original_word.long_definition.html_safe