#stage.stage{style:"height:325px; overflow:scroll;padding:2%;display:none;"}
	#audio{style: "height:25px;display:none"}
	#audio_placeholder{style: "height:25px;display:block;"}
	= yield
	#related{align:"center", style: "display:none"}
	#verse_notes{align: "center"}