.browse_strongs
	%title
		Tent of Meeting - Strongs

	.message
		%h1
			%table{align:"center"}
				%tr{padding:"10%"}
					%td
						=link_to "Hebrew", "/hebrew"
					%td
						\-
					%td
						=link_to "Greek", "/greek"
#stage.stage
	#audio.audio
	#audio_placeholder{style: "height:52px;display:block;"}
	%br
	= yield
	#related{align:"center", style: "display:none"}
	#verse_notes{align: "center"}